//Normalize styles
@import '../../node_modules/normalize.css/normalize';




@import "./_fonts";



body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: white;
  object-fit: cover;
  color: #222;
  transform: rotate("300deg");
  min-width: 100vw;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.yolo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  .logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
}


@import "../_modules/button/button";