extends _layouts/base

include ./_modules/button/button


block config 
  - var page = 'homepage'


block content
  .yolo-info
    h1 Welcome to Yolo Project
    img.logo(src="/assets/images/logo.png")
    +button({"text":"Learn More"})